<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <style>
    <link rel="stylesheet" href="/css/normal.css">
</head>
<body>
    <div class="container">
        <h1>Account Registered</h1>
        <p>Your account has already been registered. We have resent you the mail for your email verification. Please verify your account first.</p>
    </div>
</body>
</html>
