 <link rel="stylesheet" href="/css/styles.css">
    <div class="container"></div>
    <h1>Reset Your Password</h1>
        <form action="/forgot-password" method="post">
            <input type="text" name="identifier" placeholder="Username or Email" required>
            <button type="submit" id="specialButton">Reset Password</button>
        </form>
    </div>
    <script src="/js/script.js"></script>
