<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/css/normal.css">
</head>
<body>
    <div class="container">
        <h1>Invalid Credentials</h1>
        <p>You have entered invalid credentials! Please go back and enter correct details or reset your password.</p>
        <a href="/login">Go to Login</a>
        <a href="/resetpassword">Reset password</a>
    </div>
</body>
</html>
