<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verified</title>
    <link rel="stylesheet" href="/css/normal.css">
</head>
<body>
    <div class="container">
        <h1>Password Link Expired</h1>
        <p>The password reset link you're trying to reach has either expired or is invalid. To reset password, please generate a new link.</p>
        <a href="/forgot-password">Reset Password</a>
    </div>
</body>
</html>
