<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <h1>Reset Your Password</h1>
        <form action="/reset-password/{{ token }}" method="POST" id="passresetform">
            <input type="password" name="password" placeholder="New Password" required>
            <input type="password" name="confirmPassword" placeholder="Confirm New Password" required>
            <div id="errorMessage" class="alert alert-danger" style="display: none;"></div>
            <br><br>
            <button type="submit">Reset Password</button>
        </form>
    </div>
    
    <script src="/js/script.js"></script>
    <script src="/js/validation.js"></script>
</body>
</html>