<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verified</title>
    <link rel="stylesheet" href="/css/normal.css">
</head>
<body>
    <div class="container">
        <h1>Existing Username</h1>
        <p>This username already exists. Please go back and select another username.</p>
    </div>
</body>
</html>
